---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import FeaturedTools from '../components/FeaturedTools.astro';
import LatestNews from '../components/LatestNews.astro';
import ComparisonSection from '../components/ComparisonSection.astro';
import TestimonialSection from '../components/TestimonialSection.astro';
import CTASection from '../components/CTASection.astro';
---

<Layout title="AINexus - Your Ultimate AI Resource Hub">
  <main>
    <Hero />
    <FeaturedTools />
    <LatestNews />
    <ComparisonSection />
    <TestimonialSection />
    <CTASection />
  </main>
</Layout>
